.DS_Store
.Rapp.history
.Rhistory
.RData
.RDataTmp*

__pycache__/
*.pyc

*.csv
*.tsv
*.xlsx
*.rds
*.nii
*.nii.gz
*.zip
*.tar
*.gz
*.png
*.jpg
*.jpeg
*.pdf
*.log

Age_Trend_Plots/
Brain_Changes_Overview/
Brain_MRI_Maps/
Forest_Plots/
Individual_IDP_Plots/
Output_Tables/
PSM_Output/
brain_visualizations/
CrossSection Analyis/
ischemic/
